@{
    ViewData["Title"] = "Home Page";
}

<div class="text-center">
    <img src="~/images/thomasgreg.jpg" class="img-fluid" asp-append-version="true" alt="Fazer o Login" />
    <h1 class="display-4">Thomas Greg - Desafio</h1>
</div>
